[DEFAULT]
default_volume_type = ixsystems-iscsi
enabled_backends = ixsystems-iscsi

[ixsystems-iscsi]
iscsi_helper = tgtadm
volume_dd_blocksize = 512
volume_driver = cinder.volume.drivers.ixsystems.iscsi.FreeNASISCSIDriver
ixsystems_login = root
ixsystems_password = Pa55w0rd
ixsystems_server_hostname = 10.3.1.81
ixsystems_volume_backend_name = iXsystems_FREENAS_Storage
ixsystems_iqn_prefix = iqn.2005-10.org.freenas.ctl
ixsystems_datastore_pool = cinder-zpool
ixsystems_vendor_name = iXsystems
ixsystems_storage_protocol = iscsi
